In [2]:
import pandas as pd

In [4]:
resultFilepath="/data/mitsuki/out/altorf/evolve/result/GCF_000022125.1_ASM2212v1.tab"
names_lst=["qseqid","sseqid","pident","length","mismatch","gapopen","qstart","qend","sstart","send","evalue","bitscore"]
result_df=pd.read_csv(resultFilepath,delimiter='\t',names=names_lst)
print(result_df.shape)
result_df.head()

(31420, 12)

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,DRF3|lcl|NC_011883.1_cds_WP_012623653.1_1,WP_015862935.1,32.759,58,35,2,3,59,160,214,1.100000e-01,29.6
1,F4|lcl|NC_011883.1_cds_WP_012623653.1_1,WP_012623653.1,100.000,74,0,0,1,74,1,74,1.030000e-47,148.0
2,F4|lcl|NC_011883.1_cds_WP_012623653.1_1,WP_020990204.1,50.000,74,37,0,1,74,1,74,2.090000e-12,57.8
3,DSF4|lcl|NC_011883.1_cds_WP_012623653.1_1,WP_014259887.1,33.333,36,24,0,4,39,486,521,2.500000e-01,28.9
4,DSF4|lcl|NC_011883.1_cds_WP_012623653.1_1,WP_013514308.1,42.857,28,16,0,40,67,307,334,6.200000e-01,27.3

In [6]:
lst=[]
result_df["category"]=[qseqid.split('|')[0] for qseqid in result_df["qseqid"]]

In [7]:
from collections import Counter
ctr=Counter(result_df["category"])
ctr

Counter({'DRF2': 141,
         'DRF3': 162,
         'DRF4': 598,
         'DRF5': 140,
         'DRF6': 162,
         'DSF2': 140,
         'DSF3': 134,
         'DSF4': 276,
         'DSF5': 118,
         'DSF6': 125,
         'F2': 134,
         'F3': 163,
         'F4': 28830,
         'F5': 134,
         'F6': 163})

In [12]:
ctr.items()

dict_items([('DRF3', 162), ('F4', 28830), ('DSF4', 276), ('DSF5', 118), ('DRF6', 162), ('F2', 134), ('F5', 134), ('DSF2', 140), ('DSF3', 134), ('DSF6', 125), ('DRF4', 598), ('DRF2', 141), ('DRF5', 140), ('F3', 163), ('F6', 163)])

In [14]:
dct={}
dct["apple"]=12
dct.update(ctr)

In [15]:
dct

{'DRF2': 141,
 'DRF3': 162,
 'DRF4': 598,
 'DRF5': 140,
 'DRF6': 162,
 'DSF2': 140,
 'DSF3': 134,
 'DSF4': 276,
 'DSF5': 118,
 'DSF6': 125,
 'F2': 134,
 'F3': 163,
 'F4': 28830,
 'F5': 134,
 'F6': 163,
 'apple': 12}

In [17]:
thres_lst=[1,0.1,0.01,1e-3,1e-4,1e-5]
dct_lst=[]
for thres in thres_lst:
    dct={}
    dct["thres"]=thres
    filtered_df=result_df[result_df["evalue"]<thres]
    dct.update(Counter(filtered_df["category"]))
    dct_lst.append(dct)

In [28]:
#count_df=pd.DataFrame(dct_lst)
count_df=count_df.fillna(0)

In [29]:
count_df

,DRF2,DRF3,DRF4,DRF5,DRF6,DSF2,DSF3,DSF4,DSF5,DSF6,F2,F3,F4,F5,F6,thres
0,141.0,159.0,595.0,140.0,159.0,139.0,134.0,275.0,117.0,125.0,133,162,28822,133,162,1.00000
1,17.0,28.0,108.0,17.0,28.0,16.0,17.0,50.0,16.0,10.0,22,20,26400,22,20,0.10000
2,2.0,4.0,21.0,2.0,4.0,3.0,1.0,2.0,2.0,0.0,1,3,24763,1,3,0.01000
3,0.0,0.0,4.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1,1,23630,1,1,0.00100
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,22729,1,1,0.00010
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,21956,1,1,0.00001

In [34]:
count_df.fillna(0)
name_lst=[]
for prefix in ["F","DRF","DSF"]:
    for i in range(2,7):
        name=prefix+str(i)
        name_lst.append(name)
count_df[name_lst]=count_df[name_lst].astype(int)

In [36]:
count_df

,DRF2,DRF3,DRF4,DRF5,DRF6,DSF2,DSF3,DSF4,DSF5,DSF6,F2,F3,F4,F5,F6,thres
0,141,159,595,140,159,139,134,275,117,125,133,162,28822,133,162,1.00000
1,17,28,108,17,28,16,17,50,16,10,22,20,26400,22,20,0.10000
2,2,4,21,2,4,3,1,2,2,0,1,3,24763,1,3,0.01000
3,0,0,4,0,0,2,0,0,0,0,1,1,23630,1,1,0.00100
4,0,0,1,0,0,0,0,0,0,0,1,1,22729,1,1,0.00010
5,0,0,0,0,0,0,0,0,0,0,1,1,21956,1,1,0.00001

In [31]:
count_df.head()

,DRF2,DRF3,DRF4,DRF5,DRF6,DSF2,DSF3,DSF4,DSF5,DSF6,F2,F3,F4,F5,F6,thres
0,141.0,159.0,595.0,140.0,159.0,139.0,134.0,275.0,117.0,125.0,133,162,28822,133,162,1.0000
1,17.0,28.0,108.0,17.0,28.0,16.0,17.0,50.0,16.0,10.0,22,20,26400,22,20,0.1000
2,2.0,4.0,21.0,2.0,4.0,3.0,1.0,2.0,2.0,0.0,1,3,24763,1,3,0.0100
3,0.0,0.0,4.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,1,1,23630,1,1,0.0010
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,22729,1,1,0.0001